@import url("https://use.typekit.net/ick1wdz.css");




.bg {
    background-image: linear-gradient(to bottom, rgba(32, 32, 32, 0.093), rgba(0, 0, 0, 0.401)),
    url("img/bg_coast.jpg");

    background-size: cover;
    background-position: top;
    min-height: 100%;
    height: 100vh;
    position: relative;
    /* opacity: 0;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: forwards; */
}

#abg {
    min-height: 100%;
    height: 60vh;
    background-image: linear-gradient(to bottom, rgba(32, 32, 32, 0.093), rgba(0, 0, 0, 0.401)),
    url("img/nomada.jpg");
}

#abg .box {
    height: 60vh;
}

.box {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}

#home-title {
    opacity: 0;
  animation-name: fade-in;
  animation-duration: 2.8s;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

#main-title-contain {
    position: relative;
    text-align: center;
    font-family: "futura-pt-bold", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.main-title {
    margin: auto;
}

.main-title, #main-tagline {
    max-width: 80vw;
    letter-spacing: 0.9vw;
    text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.273);
}


#main-tagline {
    letter-spacing: 0.6vw;
    /* padding-left: 10%;
    padding-right: 10%; */
    max-width: 90vw;
    left: 0;
    right: 0;
    margin: auto;
}

.line {
    width: 612px;
    height: 10px;
}

#POWER-line {
    background-color: #F3CB47;
}
#COMMUNITY-line {
    background-color: #FFAD00;
}
#HEALTHCARE-line {
    background-color: #004E65;
}
#GOVERNANCE-line {
    background-color: #FF6600;
}
#ENVIRONMENT-line {
    background-color: #3EAAA7;
}

#main-tagline {
    font-size: 21px!important;
    color: white;
}


@media only screen and (min-width: 768px) {
    #main-tagline {
        padding-left: 4%;
        padding-right: 4%;
    }
  }

