.post-grid {
    padding-left: 15vw;
    padding-right: 20vw;
    width: 100vw;
    overflow-x: hidden;
}

.post-text > figure {
  max-width: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.post-text > figure > img {
  max-width: 60vw;
  transform: translateX(-20%);
}

.wp-element-caption {
  /* width: 700px; */
  font-size: 3vw;
}

.byline-contain {
  max-width: 100vw;
}

.byline {
    margin-left: 3.2vw;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
}

.byline > p {
  font-size: 17px;
}

.post-text {
  position: relative;
  overflow-y: clip;
  /* top: -10px; */
}

.post-text > p {
  font-size: 17px;
}

.stickyP {
  position: sticky;
  top: 0px;
}


.photo-frame-container {
  position: sticky;
  top: 0px;
  margin-bottom: 120vh;
  transform: translateX(-15vw);
}

.photo-frame {
  position: absolute;
  
  width: 100vw;
  height: 100vh;
}

.cover-frame {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 3;
}


/* SECTION SUBHEAD */
.circle-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 0;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 5px;
  margin-bottom: 0;
}

.yellow {
  background-color: #f3cb47;
}

.orange {
  background-color: #FFAD00;
}

.red {
  background-color: #FF6600;
}

.cyan {
  background-color: #3EAAA7;
}

.blue {
  background-color: #004E65;
}

.section-wrapper {
  padding-top: 4.9vh;
  padding-bottom: 40vh;
  /* max-width: 40vw; */
  transform: translateX(calc(-28.125% + 5%));
  position: relative;
}

#section {
  position:absolute;

  width: 100vw; 
  height: 30vh;
  background-repeat: no-repeat;
  background-position: center 44%; 
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subhead {
  color: white;
  font-size: 4vw;
  letter-spacing: 0.75px;
  backdrop-filter: none;
}


/* Pullquote */
.quote-wrapper-rel {
  position: relative;
  padding-bottom: 55vh;
}

.quote-wrapper-abs {
  position: absolute;
  width: 70vw;
  left: -16vw;
}

.big-quote {
  display: flex;
  justify-content: left
}

.quote-svg {
  margin-right: 6vw;
  margin-left: 2%;
  min-width: 30%;
}

.quote-txt {
  font-weight: bold!important;
  margin-top: 8%;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
}

.quote-auth {
  font-size: 24px;
  font-weight: 400!important;
  text-align: right;
  margin: 0;
}




/* VIDEO PLAYER */


[class^="PlayButton_module"] {
  display: block;
}



.video-container-anchor {
  transform: translateX(calc(-28.125% + 5%));
  position: relative;
  margin-top: 15%;
  margin-bottom: 115%;
}

#explain-anchor {
  transform: none;
}

.video-container {
  position: absolute;
  width: 100vw;
  height: calc(56.25vw);
}

#vid-ht {
  width: 100vw!important;
  height: 56.25vw!important;
}

#explain-ht {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 70vw!important;
  height: 39.375vw!important;
}

#explain-all {
  position: relative;
  height: 70%;
  width: 70%; 
  margin: auto;
}

.all {
  position: static;
  height: 100%;
  width: 100%;
  margin: auto;
}

#reg-all:hover .vid-bar {
  opacity: 1;
}


.vid-btn {
  display: block;
  font-size: 8vw;
  cursor: pointer;
  height: 50px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  margin: auto;
  border: none;
}


#sml-play-pause {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: 4%;
}

#sml-play-pause > .fa-play, #sml-play-pause > .fa-pause {
  font-size: 1.5vh;
}

.fa-expand {
  cursor: pointer;
  position: absolute;
  bottom: 50%;
  right: 4%;
  font-size: 2.5vh;
  transform: translateY(50%);

}

.fa-play {
  filter: drop-shadow(0 0 5px black);
}

.vid-btn .fa-pause {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.vid-btn:hover .fa-pause {
  opacity: 1;
}

.vid-bar {
  display: block;
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: 0;
  background-color: #000000;
  /* z-index: 1; */
  transition: opacity 1s ease;
  opacity: 1;
}

.vid-bar:hover {
  opacity: 1!important;
}

.prog-bar {
  cursor: pointer;
  width: 70%;
  height: 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: rgb(115, 135, 139);
  border-radius: 20px 10px 30px 5px;
}

.prog-fill-bar {
  max-width: 100%;
  height: 10px;
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: gainsboro;
  border-radius: 20px 10px 30px 5px;
}

.prog-fill-dot {
  height: 13px;
  width: 13px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
  z-index: 2;
  border-radius: 50%;
}

#sml-play-pause {
  display: none;
}

#front {
  z-index: 5;
  color: red;
}

.vid-title {
  display: none;
  position: absolute;
  left: 2vw;
  bottom: 20vh;
  font-size: 3em;
}

#relat {
  position: relative;
}



/* READ MORE */
.read-more {
  text-align: center;
  padding-bottom: 70px;
}

.more-thumbs {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
}

.more-thumbs > a {
  cursor: pointer;
  margin: 10px;
}

.readmore-hold {
  width: fit-content;
  position: relative;
}

.readmore-hold > h4 {
  color: rgb(255, 255, 255);
  position: absolute;
  margin: 0;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 50%;
  transform: translateY(50%);
  opacity: 0;
}

#powread {
  color: var(--power);
}
#comread {
  color: var(--community);
}
#govread {
  color: var(--governance);
}
#envread {
  color: var(--environment);
  /* background-color: rgba(255, 255, 255, 0.733); */
}
#hearead {
  color: var(--healthcare);
  /* background-color: rgba(255, 255, 255, 0.733); */
}

.readmore-hold img {
  width: 22vw;
}

.readmore-hold:hover img {
 filter: grayscale(96%);
 opacity: 0.3;
}
.readmore-hold:hover h4 {
  opacity: 1;
 }

@media only screen and (max-width: 420px) {
  .quote-wrapper-rel {
    padding-bottom: 60vh;
  }

  .photo-frame {
    height: 100vw;
  }

  .photo-frame-container {
    margin-bottom: 60vh;
  }
}


@media only screen and (min-width: 768px) {
  .post-grid {
    padding-left: initial;
    padding-right: initial;
    margin-top: 125px;
    width: 100vw;
    display: grid;
    grid-template-areas: 
    'mar body mar';
  grid-template-columns: 200fr 310fr 900fr 295fr 215fr;
  grid-gap: 2vw;
}

.photo-frame-container {
  margin-bottom: 120vh;
  transform: translateX(calc(-56.25vw / 1.977));
}

.wp-element-caption {
  font-size: 1vw;
}

#homepage-txt {
  margin-top: 0;
}


.quote-svg {
  margin-right: 0;
  margin-left: 2%;
  min-width: 0;
}

.video-container-anchor {
  transform: translateX(calc(-56.25vw / 1.977));
  margin-top: 15vh;
  margin-bottom: 135vh;
}

.section-wrapper {
  transform: translateX(calc(-56.25vw / 1.977));
}

#explain-anchor {
  transform: none;
}

.vid-btn {
  display: none;
  bottom: 0;
}

.vid-bar {
  height: 55px;
}

.fa-play, .fa-pause {
  font-size: 6vw;
}

.fa-expand {
  font-size: 1.5vw;
}

#sml-play-pause {
  display: block;
  margin-left: 4%;
}

#sml-play-pause > .fa-play, #sml-play-pause > .fa-pause {
  font-size: 1.5vw;
}



.vid-title {
  display: block;
  bottom: 10%;
}

.byline {
  margin-left: 0;
  display: block;
  text-align: initial;
}




.more-thumbs > a > img {
  width: 21vw;
}

}