@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Roboto:wght@300&display=swap');
@import url('https://use.typekit.net/ick1wdz.css');
@import 'storyPage.css';
@import 'nav.css';
@import 'header.css';
@import 'interactive.css';
@import 'about.css';

:root {
    --power:  #F3CB47; 
    --community:  #FFAD00;
    --governance:  #FF6600;
    --environment: #3EAAA7;
    --healthcare: #004E65;
  }


body, html {
    margin: 0;
    background-color: #f7f8f1;
}

body {
    overflow-x:auto;
}


p, h2, h3, h4, h5, .wp-element-caption {
    font-family: "americane", sans-serif;
    font-style: bold;
  }

  h1 {
    font-family: "futura-pt-bold", sans-serif;
    color: white;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.1em;
    font-size: 9vw;
}

  p {
    font-weight: 400;
  }

.photo-frame:hover 

#homepage-txt {
    margin: 0;
}


#main-about {
    padding-top: 80px;
}

.main-about-title {
    font-size: 40px;
}


#explainer {
    left: 0!important;
}


.home-story-pics {
    width: 100vw;
    height: 100vw;
    position: relative;
    background-size: cover;
}

.clickme {
    width: 18%;
    height: 7%;
    border-radius: 10px 0 0 10px;
    position: absolute;
    right: 0;
    top: 10%;
}

.clickme a {
    position: absolute;
}



#lcl {
    left: 0;
    border-radius: 0 10px 10px 0;
}

#lcl > a {
    right: 6%;
}
#rcl > a {
    left: 6%;
}

.home-title {
    font-size: 7vw;
    position: absolute;
    bottom: 80%;
    color: black;
    padding-left: 3%;
    padding-right: 4%;
    width: 100vw;
}

.home-subtitle {
    padding: 3%;
    font-size: larger;
}

#HEALTHCARE-home-title, #ENVIRONMENT-home-title, #HEALTHCARE-subtitle, #ENVIRONMENT-subtitle {
    color: white;
}

#POWER-home-title {
    text-shadow: 4px 4px var(--power);
}
#COMMUNITY-home-title {
    text-shadow: 4px 4px var(--community);
}
#GOVERNANCE-home-title {
    text-shadow: 4px 4px var(--governance);
}
#ENVIRONMENT-home-title {
    text-shadow: 4px 4px var(--environment);
}
#HEALTHCARE-home-title {
    text-shadow: 4px 4px var(--healthcare);
}


.left-title, .right-title {
    position: absolute;
    width: 100vw;
    height: 177px;
    bottom: 0;
    /* padding: 4%; */
}

.rsub {
    position: absolute;
    right: 0;
}

.cl-title {
    position: inherit;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
}

.cl-title > h5 {
    margin: 0;
}





.right-title p {
    right: 0;
}
.right-title h1 {
    right: 0;
}

.home-link {
    display: none;
}

.home-link-name {
    display: none;
}

#storybox-container {
    display: flex;
    min-height: 80vh;
}

.storybox {
    min-width: 20%;
    border: 1px solid blue;
}

.cntr-txt {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

#HEALTHCARE {
    background-image: linear-gradient(to top, #004E65, #004d6584, #004d6500, #004d6500), url('img/healthcare.jpg');
}
#HEALTHCARE > div {
    /* background-image: none; */
background-color: #004E65;
}
#HEALTHCARE > div > a > h5 {
    /* background-image: none; */
    color: #004E65;
}

#POWER {
    background-image: linear-gradient(to top,  #F3CB47, #f3cb4779, #f3cb4700, #f3cb4700), url('img/power.jpg');
}
#POWER > div {
    background-color: #F3CB47;
}
#POWER > div > a > h5 {
    color: #F3CB47;
}

#GOVERNANCE {
    background-image: linear-gradient(to top,  #FF6600, #ff660058, #ff660000, #ff660000), url('img/government.jpg');
}
#GOVERNANCE > div {
    background-color: #FF6600;
}
#GOVERNANCE > div > a > h5 {
    color: #FF6600;
}

#COMMUNITY {
    background-image: linear-gradient(to top,  #FFAD00,  #ffae0060,  #ffae0000,  #ffae0000), url('img/community.jpg');
}
#COMMUNITY > div {
    background-color:  #FFAD00;
}
#COMMUNITY > div > a > h5 {
    color:  #FFAD00;
}

#ENVIRONMENT {
    background-image: linear-gradient(to top, #3EAAA7, #3eaaa66b, #3eaaa600, #3eaaa600), url('img/environment.jpg');
}
#ENVIRONMENT > div {
    background-color:#3EAAA7;
}
#ENVIRONMENT > div > a > h5 {
    color:#3EAAA7;
}

.bl {
    background-color: black!important;
}

.wh {
    background-color: white!important;
}


.center-content {
    margin: 5%;
    display: flex;
    justify-content: center;
}


@media only screen and (min-width: 768px) {
    .home-title {
        bottom: 15vh;
        width: initial;
    }

    .home-story-pics {
        height: 49.48vw;
    }

    .home-subtitle {
        max-width: 60%;
    }
}


